doctype html
html
	head
		title Blog App
		link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
		link(rel="stylesheet", href="style.css")
		body
			h1(class="myHeader") Welcome to our Blog 
			//- button(class="mdl-button mdl-js-button mdl-button--raised") Login
			h1(class="myHeader") Login Please
			form(action= "/login" , method="post", class="registerMenu")
				input(type="name", name="username", placeholder="username", class="mdl-textfield__input", class="mdl-textfield__input")
				input(type="password", name="password", placeholder="password", class="mdl-textfield__input")
				input(type="submit", value="Login", class="mdl-button mdl-js-button mdl-button--raised")
			script(src="/jquery.js")
			script(src="/custom.js")